<!-- Info -->
<div class="info">
	<!-- Rotation X -->
	<div class="info__row">
		<div class="info__key">
			Rotation X:
		</div>
		<div class="info__value js-rotationX">
			0
		</div>
	</div>
	<!-- Rotation Y -->
	<div class="info__row">
		<div class="info__key">
			Rotation Y:
		</div>
		<div class="info__value js-rotationY">
			0
		</div>
	</div>
</div>
