<!-- Menu -->
<nav class="menu">
	<ul class="menu__list">
		<li class="menu__item menu__item_projects js-projects">
			Проекты
		</li>
		<li class="menu__item menu__item_services js-services">
			Услуги
		</li>
		<li class="menu__item menu__item_contacts js-contacts">
			Контакты
		</li>
		<li class="menu__item menu__item_about js-about">
			О компании
		</li>
	</ul>
</nav>
