<!-- Modal -->
<div class="modal js-modal">
	<h2 class="modal__title">
		Услуги
	</h2>
	<p class="modal__text">
		Компания сцециализируется на предоставлении комплекса<br>
		услуг, необходимых для эффективной работы<br>
		с компаниями Китая
	</p>
	<a href="#" class="btn btn_red btn_upper">
		<span class="btn__text">
			Подробнее
		</span>
	</a>
</div>
<div class="overlay js-overlay"></div>
