<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Brain menu</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:300,400,500,700&subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
	<link rel="stylesheet" href="css/app.css?v={{timestamp}}">
	<!--[if IE 9]>
		<link rel="stylesheet" href="css/ie9.css">
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<h1 class="logo">
		<img src="./img/logo.svg" alt="" class="logo__img">
	</h1>
	<div id="brain"></div>
	<!-- Loader -->
	<div class="animated spinner js-spinner">
		<div class="sk-circle">
			<div class="sk-circle1 sk-child"></div>
			<div class="sk-circle2 sk-child"></div>
			<div class="sk-circle3 sk-child"></div>
			<div class="sk-circle4 sk-child"></div>
			<div class="sk-circle5 sk-child"></div>
			<div class="sk-circle6 sk-child"></div>
			<div class="sk-circle7 sk-child"></div>
			<div class="sk-circle8 sk-child"></div>
			<div class="sk-circle9 sk-child"></div>
			<div class="sk-circle10 sk-child"></div>
			<div class="sk-circle11 sk-child"></div>
			<div class="sk-circle12 sk-child"></div>
		</div>
	</div>
	{{>info}}
	{{!-- {{>menu}} --}}
	<!--
	<script src="js/plugins.min.js"></script>
	<script src="libs/OrbitControls.js?v={{timestamp}}"></script>
	<script src="https://stemkoski.github.io/Three.js/js/Three.js"></script>-->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Tocca.js/1.0.1/Tocca.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.js"></script>
	<script src="https://stemkoski.github.io/Three.js/js/Detector.js"></script>
	<script src="https://stemkoski.github.io/Three.js/js/Stats.js"></script>
	<script src="https://stemkoski.github.io/Three.js/js/OrbitControls.js"></script>
	<script src="https://stemkoski.github.io/Three.js/js/THREEx.KeyboardState.js"></script>
	<script src="https://cdn.rawgit.com/mrdoob/three.js/r79/examples/js/renderers/Projector.js"></script>
	<script src="https://stemkoski.github.io/Three.js/js/THREEx.FullScreen.js"></script>
	<script src="https://stemkoski.github.io/Three.js/js/THREEx.WindowResize.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/easing/EasePack.min.js"></script>

	<script src="js/app.js?v={{timestamp}}"></script>
</body>
</html>
